"{{if falsevar1}}\r\n"
"THIS should not be visible!\r\n"
"{{elif falsevar2}}\r\n"
"THIS should not be visible EITHER!\r\n"
"{{else}}\r\n"
"{{if truevar}}\r\n"
"Hello!{{for e in 1..4}}{{e}} is a nice number! {{users[e]}} is a stupid user!{{endfor}}\r\n"
"{{for user in users}}{{user}} is my favourite user, {{endfor}}\r\n"
"\{{this should get rendered normally}}\r\n"
"{{if truevar}} \{{elif should get rendered normally as well}}  {{endif}}\r\n"
"{{else}} this should not render \r\n"
"{{endif}}{{endif}}\r\n"

Context:
user[1]:"user1"
user[2]:"user2"
user[3]:"user3"
users:"userA;userB;userC"
falsevar1:"false"
falsevar2:"false"
truevar:"true"

"\r\n"
"\r\n"
"\r\n"
"Hello!1 is a nice number! user1 is a stupid user!2 is a nice number! user2 is a stupid user!3 is a nice number! user3 is a stupid user!\r\n"
"userA is my favourite user, userB is my favourite user, userC is my favourite user, \r\n"
"{{this should get rendered normally}}\r\n"
"{{elif should get rendered normally as well}}\r\n"
"\r\n"